@import '../utils//variables.scss';
@import '../utils/mixins.scss';

.button-remove-task {
    @include centered-content;
    height:20px;
    width:20px;
    border-radius: 50%;
    font-size: 8px;
    background-color: #23c483;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: $red;
        box-shadow: 0px 15px 20px #CC3300;
        color: #fff;
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(1px);
    }
}